body {
  background: linear-gradient(#d861ba, #df92cb);
}

h1 {
  text-align: center;
  font-size: 2.6em;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.2em;
  color: #000000;
  margin-left: 30px;
}

p {
  font-size: 1.2em;
  margin-left: 60px;
  margin-right: 60px;
}

footer {
  background-color: #000000;
  align-items: center;
  margin-top: 50px;
}

.imagem_footer {
  width: 40px;
  height: 40px;
}

.alura {
  padding-left: 1264px;
}
